<!-- <div class="container custom-container">
    <div class="col-md-12">
      <h3 class="mb-3 text-center">Add Employee</h3>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.name" class="form-control" placeholder="Name">
      </div>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.email" class="form-control" placeholder="Email">
      </div>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.phone" class="form-control" placeholder="Phone">
      </div>
  
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="addEmployee()">Add Employee</button>
      </div>
  
    </div>
  </div> -->


<!-- java api example - rest Employee -->

  <div class="container custom-container">
    <div class="col-md-12">
      <h3 class="mb-3 text-center">Add Employee</h3>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.employeeId" class="form-control" placeholder="Id">
      </div>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.employeeName" class="form-control" placeholder="Name">
      </div>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="employeeDetails.employeeSalary" class="form-control" placeholder="Salary">
      </div>
  
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="addEmployee()">Add Employee</button>
      </div>
  
    </div>
  </div>